<nav class="navbar nav-underline navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/users">PSM</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/departments">Departamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#infoOffcanvas"
            ><i class="bi bi-person-circle"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/"
            ><i class="bi bi-box-arrow-left"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="infoOffcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Perfil</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ng-container #profileContainer>
      <div>
        {{ email }}
      </div>
      <div>
        {{ username }}
      </div>
      <div>
        {{ role }}
      </div>
    </ng-container>
  </div>
</div>
