<div class="container">
  <div class="form-control w-50 mx-auto px-4 py-5 bg-black text-white">
    <h1 class="mb-5 text-center">Log in</h1>
    <div class="mb-3 mx-auto">
      <label for="formGroup" class="form-label">Username</label>
      <input type="text" class="form-control" [(ngModel)] ="username" id="username1" placeholder="example_role">
    </div>
    <div class="mb-3 mx-auto">
      <label for="formGroup" class="form-label" >Password</label>
      <input type="password" class="form-control" [(ngModel)] ="password" id="password" placeholder="12345">
    </div>
    <div class="text-center pt-5 pb-4">
      <button class="btn btn-primary col-10" (click)="onLogin()">Continue</button>
    </div>

    <div class="text-center">
      <button class="btn btn-secondary col-10" (click)="open(content)">Sign In</button>
    </div>
        <!-- Section to sign in with thirt party accounts. -->
    <div class="text-white text-center mt-5">
      <p>Another ways to sign up</p>
      <div>
        <a class="tparthies"><i class="bi bi-google"></i></a>
        <a class="tparthies"><i class="bi bi-facebook"></i></a>
        <a class="tparthies"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>




    <!-- Modal to show the form by clicking -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New user form</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      
      <!-- Form to create a new user -->
      <form [formGroup]="form" class="row g-3 needs-validation" needs-validation (ngSubmit)="saveUser()">
        <div class="col-md-6" class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" [class.is-invalid]="form.controls['username'].touched" formControlName="username" id="username" required />
            <div class="invalid-feedback" *ngIf="form.controls['username'].touched">
              Enter a valid username
            </div>
        </div>
        <div class="col-md-6" class="form-group">
          <label for="password" class="form-label">Password</label>
            <input type="password"
                  class="form-control"
                  [class.is-invalid]="form.controls['password'].invalid && form.controls['password'].touched"
                  formControlName="password"
                  id="password"
                  required />
            <div class="invalid-feedback" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
              The minimum length for password is 8
            </div>
        </div>
        <div class="col-md-6" class="form-group">
          <label for="email" class="form-label">Email</label>
            <input type="email"
                  class="form-control"
                  [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].touched"
                  formControlName="email"
                  id="email"
                  required />

            <div class="invalid-feedback" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
              Enter a valid email
            </div>
        </div>
        <div class="col-md-6" class="form-group">
          <label for="role" class="form-label">Select rol</label>
          <select class="form-control" [class.is-invalid]="form.controls['role'].invalid && form.controls['role'].touched" formControlName="role" id="role" class="form-select" aria-label="roles">
            <option value="admin">Admin</option>
            <option value="user" selected>User</option>
          </select>
            <div class="invalid-feedback" *ngIf="form.controls['role'].invalid && form.controls['role'].touched">
              Enter a valid role
            </div>
        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="modal.close(); saveUser()">Register</button>
    </div>
  </ng-template>
  <!-- End of modal to show the form by clicking -->

</div>
