<div class="bg-light main">
  <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-5" style="width: 400px; border-radius: 15px; background: white;">
    <h2 class="text-center mb-4 text-primary">Log in</h2>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" id="username" placeholder="username_123">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
          <div class="d-flex">
          <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="********">
          <span class="btn btn-button bi bi-eye"></span>
    </div>
    </div>
    <button class="btn btn-primary w-100 mb-3" (click)="onLogin()">Continue</button>
    <button class="btn btn-outline-secondary w-100" (click)="open(content)">Sign Up</button>

  </div>



    <!-- Modal to show the form by clicking -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New user form</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <!-- Form to create a new user -->
      <form [formGroup]="form" class="row g-3 needs-validation" needs-validation (ngSubmit)="saveUser()">
        <div class="col-md-6" class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" [class.is-invalid]="form.controls['username'].touched" formControlName="username" id="username" required />
            <div class="invalid-feedback" *ngIf="form.controls['username'].touched">
              Enter a valid username
            </div>
        </div>
        <div class="col-md-6" class="form-group">
          <label for="password" class="form-label">Password</label>
            <input type="password"
                  class="form-control"
                  [class.is-invalid]="form.controls['password'].invalid && form.controls['password'].touched"
                  formControlName="password"
                  id="password"
                  required />
            <div class="invalid-feedback" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
              The minimum length for password is 8
            </div>
        </div>
        <div class="col-md-6" class="form-group">
          <label for="email" class="form-label">Email</label>
            <input type="email"
                  class="form-control"
                  [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].touched"
                  formControlName="email"
                  id="email"
                  required />

            <div class="invalid-feedback" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
              Enter a valid email
            </div>
        </div>
        <div class="col-md-6" class="form-group">
          <label for="role" class="form-label">Select rol</label>
          <select class="form-control" [class.is-invalid]="form.controls['role'].invalid && form.controls['role'].touched" formControlName="role" id="role" class="form-select" aria-label="roles">
            <option value="admin">Admin</option>
            <option value="user" selected>User</option>
          </select>
            <div class="invalid-feedback" *ngIf="form.controls['role'].invalid && form.controls['role'].touched">
              Enter a valid role
            </div>
        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="modal.close(); saveUser()">Register</button>
    </div>
  </ng-template>
  <!-- End of modal to show the form by clicking -->

</div>

</div>
